<!--The content below is only a placeholder and can be replaced.-->

<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--<link href="style.css" rel="stylesheet">-->

    <title>e-Form Repair.com!</title>
  </head>
  <body>

      <div class="container">
          <div class="row">
              <table class="table table-hover">
                <thead>
                  <tr>
                  <th scope="col">Repair ref no.</th>
                  <th scope="col">Location</th>
                  <th scope="col">Building</th>
                  <th scope="col">Repair Description</th>
                  <th scope="col">Contact person</th>
                  <th scope="col">Contact Number</th>
                  </tr>
                </thead>
                <tbody *ngFor="let record of Records">
                    <tr>
                    <td>{{record.idrepair_order}}</td>
                    <td>{{record.location}}</td>
                    <td>{{record.building}}</td>
                    <td>{{record.description}}</td>
                    <td>{{record.requested_by}}</td>
                    <td>{{record.contact_tel}}</td>
                    </tr>
                  </tbody>
              </table>
            </div>
          </div>
  </body>
</html>
